#grid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

.cell {
       background: grey;
       border: solid 1px #FFFFFF;
       width: 40px;
       height: 40px;
      }

#flags {
        text-align: center;
        font-size: 50px;
      }
#status {
        text-align: center;
        font-size: 50px;
        }